{{#.}}
    <h2>Test Service Data</h2>

    <div id="attachment-one">{{{ inlineAttachment attachmentOne 200 200 }}}</div>

    <div id="attachment-two">
        <img src="{{{ inlineAttachmentContent attachmentTwo }}}"/>
    </div>
{{/.}}
