<!-- Sample data:
[
    {
      "prisonCode": "SPT",
      "userId": "354703",
      "dpsLocationId": "1234",
      "nomisLocationId": "1234",
      "booleanVal": "true",
      "camelCaseVal": "helloWorlD",
      "testKey": "testValue1",
      "moreData": {
        "nestedKey": "nestedValue1"
      },
      "arrayData": [
        "arrayValue1-1",
        "arrayValue1-2"
      ]
    }
]
-->

{{#.}}
    <h2>Test Service Data</h2>

    <table>
        <tr><td>Test Key:</td><td>{{testKey}}</td></tr>
        <tr><td>Username: </td><td>{{getUserLastName userId}}</td></tr>
        <tr><td>Prison: </td><td>{{ getPrisonName prisonCode }}</td></tr>
        <tr><td>DPS Location: </td><td>{{ getLocationNameByDpsId dpsLocationId }}</td></tr>
        <tr><td>Nomis Location: </td><td>{{ getLocationNameByNomisId nomisLocationId }}</td></tr>
        <tr><td>Boolean Value: </td><td>{{ convertBoolean booleanVal }}</td></tr>
        <tr><td>Camel Case: </td><td>{{ convertCamelCase camelCaseVal }}</td></tr>
        <tr><td>Nested Data: </td><td>{{moreData.nestedKey}}</td></tr>
        <tr><td>Array Data: </td><td><ul>{{#arrayData}}<li>{{.}}</li>{{/arrayData}}</ul></td></tr>
    </table>
{{/.}}
