<!-- Sample data:
[
    {
      "prisonCode": "SPT",
      "userId": "354703",
      "dpsLocationId": "1234",
      "nomisLocationId": "1234",
      "booleanVal": "true",
      "camelCaseVal": "helloWorlD",
      "testKey": "testValue1",
      "testKey2": "testValue1",
      "moreData": {
        "nestedKey": "nestedValue1"
      },
      "arrayData": [
        "arrayValue1-1",
        "arrayValue1-2"
      ],
      "dateField": "2023-07-26T12:59:57.961+01:00"
    }
]
-->

{{#.}}
    <h2>Test Service Data</h2>

    <table>
        <tr><td>Test Key:</td><td>{{testKey}}</td></tr>
        <tr><td>Username: </td><td>{{getUserLastName userId}}</td></tr>
        <tr><td>Prison: </td><td>{{ getPrisonName prisonCode }}</td></tr>
        <tr><td>DPS Location: </td><td>{{ getLocationNameByDpsId dpsLocationId }}</td></tr>
        <tr><td>Nomis Location: </td><td>{{ getLocationNameByNomisId nomisLocationId }}</td></tr>
        <tr><td>Boolean Value: </td><td>{{ convertBoolean booleanVal }}</td></tr>
        <tr><td>Camel Case: </td><td>{{ convertCamelCase camelCaseVal }}</td></tr>
        <tr><td>String Equality: </td><td>{{ eq testKey testKey2 }}</td></tr>
        <tr><td>Nested Data: </td><td>{{moreData.nestedKey}}</td></tr>
        <tr><td>Array Data: </td><td><ul>{{#arrayData}}<li>{{.}}</li>{{/arrayData}}</ul></td></tr>
        <tr>
            <td>Array Data Indexed: </td>
            <td>
                <ul>{{#arrayData}}<li>Array data {{ getIndexPlusOne @index }} - {{.}}</li>{{/arrayData}}</ul>
            </td>
        </tr>
        <tr><td>Formatted Date field: </td><td>{{optionalValue (formatDate dateField) }}</td></tr>
        <tr><td>Optional field with default fallback: </td><td>{{optionalValue testKey }}</td></tr>
        <tr><td>Optional field with custom fallback: </td><td>{{optionalValue testKey 'No data recorded for this field' }}</td></tr>
        <tr><td>Optional string with default fallback: </td><td>{{optionalString testKey }}</td></tr>
        <tr><td>Optional string with custom fallback: </td><td>{{optionalString testKey 'No data recorded for this field' }}</td></tr>
    </table>

    <div id="attachment">{{{ inlineAttachment attachment }}}</div>
{{/.}}
